.end-game-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 101.5vh;
    text-align: center;
    font-size: 36px;
  }
  
  .button-container {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    font-size: 36px;
  }
  
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    z-index: 1;
  }
  