* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url('https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg'); */
  background-image: url('https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&v=enabled&s=f6b6908ea6b25b4914c6aadce02a54ed064f4ae9');
  background-repeat: no-repeat;
  background-size: cover;
  /* font-family: Arial, sans-serif; */
  font-family: 'ZX Spectrum7 Bold Regular';
}

@font-face {
  font-family: 'Pokemon Solid Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Solid Normal'), url('Pokemon Solid.woff') format('woff');
  }

@font-face {
  font-family: 'ZX Spectrum-7 Regular';
  font-style: normal;
  font-weight: normal;
  src: local('ZX Spectrum-7 Regular'), url('zx_spectrum-7.woff') format('woff');
  }
    

@font-face {
  font-family: 'ZX Spectrum7 Bold Regular';
  font-style: normal;
  font-weight: normal;
  src: local('ZX Spectrum7 Bold Regular'), url('zx_spectrum-7_bold.woff') format('woff');
  }



.title-screen {
  text-align: center;
  position: absolute;
  top: 5%;
  width: 100%;
  animation: titleSpin 10s steps(1) infinite;
  font-family: 'Pokemon Solid Normal';
  font-size: calc(10px + 2vmin);
  color: #ffcb05;
  -webkit-text-stroke: 3px #2a75bb;
  /* outline-color: blue; */
  /* color: #f44336; */
  /* font-weight: bold; */
}

@keyframes titleSpin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

@keyframes titleSizeChange {
  0%, 100% { font-size: calc(10px + 2vmin); }
  50% { font-size: calc(12px + 2vmin); }
}

.sprite-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 20%;
  width: 100%;
}

.sprite {
  width: 250px;
  height: 250px;
  animation: spin 2s linear infinite, move 2s ease-in-out infinite; /* Updated to spin clockwise */
}

.sprite-1 { animation-delay: 0s; }
.sprite-2 { animation-delay: 0.5s; }
.sprite-3 { animation-delay: 1s; }
.sprite-4 { animation-delay: 1.5s; }
.sprite-5 { animation-delay: 2s; }
.sprite-6 { animation-delay: 2.5s; }

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes move {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 100%;
}

button {
  font-family: 'ZX Spectrum7 Bold Regular';
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 8px;
  padding: 1em 1.2em;
  margin-bottom: 10px;
  transition: all .2s ease-in-out;
  box-shadow: 0 0 10px #6B8E23; /* Shiny woodland green outline */
}


button:hover.homeScreen {
  background-color: #f77d6b;
  cursor: pointer;
}
